<ng-container *appLoader="(apod$ | async) as apod">
  <div class="box" *ngFor="let picture of apod; trackBy: trackBy">
    <div class="header">Picture of the Day ({{ picture.date }})</div>
    <div class="content">
      <img [srcset]="picture.url" alt="">
      
      <div class="description">
        <h5>{{ picture.title }}</h5>
        <div>{{ picture.explanation }}</div>
      </div>
    </div>
  </div>
</ng-container>
