@use "mixins" as *;
@use "variables" as *;

:host {
  @include set-flex-direction();
  gap: 2rem;
  
  .content {
    display: flex;

    img {
      flex: 2;
      overflow: hidden;
      height: fit-content;
      border-radius: 0.5rem;
      border: 1px solid $contrast-color;
    }

    .description {
      flex: 3;
      text-align: center;
      border-radius: 0.5rem;
      border: 1px solid $contrast-color;

      h5 {
        @include set-colors($contrast-color, $light-color);
        border-bottom: 0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding: 1rem;
      }

      div {
        padding: 0rem 1rem;
      }
    }
  }
}
