<div class="container" [hidden]="!isReady">
  <app-pictures-of-the-day [(isReady)]="isApodReady" [pictureLimit]="1"></app-pictures-of-the-day>
  <app-near-objects [(isReady)]="isNeoReady" [objectsNumbers]="6"></app-near-objects>
</div>

<div class="container" *ngIf="!isReady">
  <app-loader></app-loader>
</div>