@use 'mixins' as *;

:host {
  .container {
    @include set-flex-center();
    @include set-width-max-width(25rem, 100%);
    gap: 1rem;
    flex-direction: column;

    h4 {
      text-align: center;
    }

    .form-group {
      @include set-flex-gap(.5rem);
      
      @include set-responsive-width() {
        gap: 1rem;
        flex-direction: column;
      }
    }
  }
}