<div class="container">
  <h4>Enter NASA API key</h4>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input formControlName="apiKey" placeholder="API key" type="text" class="form-control">
      <button type="submit" class="btn btn-primary" [disabled]="!isValid">Enter</button>
    </div>
  </form>
</div>