<div class="box" *appLoader="(neo$ | async) as neo">
  <div class="header">Near Earth Objects</div>
  <div class="content main-content">
    <div class="box contrast" *ngFor="let object of neo; trackBy: trackBy">
      <div class="header">{{ object.name }}</div>
      <div class="content">
        <div>Is hazardous: {{ object.hazardous ? 'Yes' : 'No' }}</div>
        <div>Absolute magnitude: {{ object.magnitude }}</div>
        <div>Estimated diameter: {{ object.estimatedDiameter.kilometers.minDiameter | number: '1.2' : 'fr'}} km (min)</div>
        <div>Estimated diameter: {{ object.estimatedDiameter.kilometers.maxDiameter | number: '1.2' : 'fr' }} km (max)</div>
      </div>
    </div>
  </div>
</div>