@use 'mixins' as *;
@use 'variables' as *;

:host {
  .contrast {
    flex: 1;
    min-width: 30%;

    .header {
      margin-bottom: 0;
    }

    .content {
      flex-direction: column;
    }
  }
}
