<div class="navbar">
  <div class="container">
    <img srcset="assets/nasa.png">

    <div class="links">
      <div 
        *ngFor="let route of routes"
        [routerLink]="route.href"
        routerLinkActive="active"
      >
        {{ route.name }}
      </div>
    </div>
  </div>
</div>