@use 'mixins' as *;
@use 'variables' as *;

:host {  
  .navbar {
    padding: 0;
    background-color: $accent-color;

    img {
      height: 2rem;
      filter: invert(1);
    }

    .links {
      @include set-flex-gap(1.5rem);
      
      div {
        opacity: 0.7;
        cursor: pointer;
        color: $light-color;
        transition: opacity .3s;

        &.active, &:hover {
          opacity: 1;
        }
      }
    }

    @include set-responsive-width() {
      gap: 1rem;

      .container {
        @include set-flex-center();
        flex-direction: column;
        gap: 1rem;
      }
    } 
  }    
}