@use 'variables' as *;
@use 'mixins' as *;

.box {
  @include set-size-max-size(100%);
  
  overflow: hidden;
  border-radius: .5rem;
  background-color: $dark-color;
  border: 1px solid $accent-color;
  box-shadow: 0 0 1rem $border-color;
  animation: scale-up .5s forwards;

  .header {
    @include set-colors($accent-color, $light-color);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .content {
    @include set-flex-gap();
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;

    @include set-responsive-width() {
      flex-flow: column;
    }
  }

  &.contrast {
    border-color: $contrast-color;

    .header {
      background-color: $contrast-color;
    }
  }
}
