@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: local(Roboto), url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: local(Roboto), url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 600;
  src: local(Roboto), url(../assets/fonts/Roboto-Medium.ttf) format("truetype");
}
