@mixin set-size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin set-size-max-size($width, $height: $width) {
  width: $width;
  max-width: $width;
  
  height: $height;
  max-height: $width;
}

@mixin set-width-max-width($width, $maxWidth: $width) {
  width: $width;
  max-width: $maxWidth;
}

@mixin set-colors($backgroundColor, $color) {
  color: $color;
  background-color: $backgroundColor;
}

@mixin set-flex-direction($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@mixin set-flex-center($justify: center, $align: $justify) {
  display: flex;

  @if $justify { justify-content: $justify; }
  @if $align { align-content: $align; }
}

@mixin set-flex-gap($gap: 1rem) {
  display: flex;
  gap: $gap;
}

@mixin set-responsive-width () {
  @media screen and (max-width: 1000px) {
    @content;
  }
}