// Helpers
@use 'variables' as *;
@use 'mixins' as *;
@use 'box' as *;
@use 'animations' as *;

// Packages
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Roboto;
}

.container {
  padding: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

.spinner-grow {
  background-color: $accent-color;
  animation-duration: 1s;
}

.form-control {
  border-color: $accent-color;

  &.ng-invalid:not(.ng-untouched) {
    border-color: $contrast-color;
  }
}

.btn-primary {
  background-color: $accent-color;
}